*{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
	cursor: pointer;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Crimson Text', serif;
}
p{
	font-family: 'Oxygen', sans-serif;
}
input{
	outline: none;
	border:none;
	background:none;
}
