
// 子页面头部背景图片
.page-top{
	height: 200px;
	background: url(/img/3.jpg) no-repeat center;
	background-size: cover;
}

/*子页面的内容区*/
.content-box{
	width: 100%;
	background-color: #F5F5F5;
}
.content-box .content-wrap{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
/*子页面的内容区*/


/*网页头，logo，导航*/
header{
	position: absolute;
	top: 0;
	z-index: 100;
	height: 120px;
	width: 100%;
	padding: 0 48px;
}
header .logo{
	height: 54px;
	float: left;
	margin-top: 40px;
}

header .logo a{
	margin-left: 15px;  /*新增*/
	display: flex;
	height: 54px;
	align-items: center;
}
header .logo a img{
	height: 48px;   /*修改logo尺寸*/
	width: 48px;
	vertical-align: bottom;
}
header .logo a span{
	padding-left: 5px;  /*新增*/
	font-size: 40px;
	font-weight: 700;
	text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
	color: #fff;
	animation: font_c 0.5s ease-in;
}

header .menu{
	height: 24px;
	float: right;
	margin-top: 45px;
	margin-right: 45px;
	display: flex;
}
header .menu li{
	font-size: 15px;
	padding:5px 10px;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	letter-spacing: 1px;
	margin-right: 20px;
	animation: margin_c 0.5s ease;
}

header .menu li a{
	color: #fff;
}
header .menu li>a:hover{
	color: rgba(225,255,255,0.8);
}

header .menu .menu_nav{
	position: relative;
}
header .menu .menu_nav:hover ul{
	display: block;
}
header .menu .menu_nav ul{
	background: rgba(0,0,0,.5); /*背景颜色透明度*/
	display: none;
    position: absolute;
    top: 25px;
    /*background: #333;*/
    padding: 10px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 9;
}
header .menu .menu_nav ul li{
	width: 150px;
    float: none;
    display: list-item;
    position: relative;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
	/* 改了ul背景透明度后    加了个hover 效果*/
header .menu .menu_nav ul li:hover a{
	color: #f0546a;
}
header .menu .menu_nav ul li a{
	color: #fff;
    padding: 4px 10px;
    display: block;
    font-size: 14px;
    margin: 0;
    margin-bottom: 10px;
}
/*网页头，logo，导航*/



/*搜索框下的日历*/
.date-wrap{
	position: absolute;
	top: 50px;
	left: 330px;
	background-color: rgba(250,250,250,.8);
	height: 270px;
	width: 300px;
	margin: auto;
	/*border: 1px solid red;*/
	padding:0 20px;
	box-sizing: border-box;
	display: none;
	z-index: 10;
}

.date-wrap .header{
	height:50px;
	display: flex;
	align-items: center;
}
.date-wrap .header h3{
	flex:1;
	font-weight: normal;
	text-align:center;
	font-size: 18px;
}
.date-wrap .header span{
	cursor: pointer;
	color:red;
}
.date-wrap .nav{
	height:40px;
	display:flex;
	align-items:center;
	font-size:16px;
	border-bottom:1px solid black;
}
.date-wrap .nav li{
	width:14%;
	text-align:center;
}
.date-wrap .datelist{
	display:flex;
	flex-wrap: wrap;
}
.date-wrap .datelist li{
	width:14%;
	height:30px;
	line-height:30px;
	font-size:14px;
	text-align:center;
	cursor:pointer;
}
.date-wrap .datelist .today{
	background-color: gray;
	color:white;
}
.date-wrap .datelist .xiuxi{
	color:red;
}
.date-wrap .datelist .disabled{
	pointer-events: none;
	color: #cccccc;
	disabled:disabled;
}
/*搜索框下的日历*/


// 页面动画定义
@keyframes font_c{
	from{
		font-size: 20px;
	}
	to{
		font-size: 40px;
	}
}

@keyframes margin_c{
	from{
		margin-right: 0;
		}
	to{
		margin-right: 20px;
		}
}

@keyframes btn_margin_c{
	from{
		width: 70px;
		height: 20px;
		line-height: 20px;
		margin-top: 10px;
		}
	to{
		width: 100px;
		height: 48px;
		line-height: 48px;
		margin-top: 48px;
	}
}

@keyframes move{
	from{
		top: 290px;
		left: 450px;
		height: 0;
	}
	to{
		top: 320px;
		left: 500px;
		height: 50px;
		}
}